version: '3.9'
services:
  mongo:
    image: mongo:7.0
    restart: on-failure
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  backend:
    build: .
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=development
      - PORT=4000
    depends_on:
      - mongo
volumes:
  mongo-data:
